{% load static %}
<div class="about-area section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">
                <p class="mb-3">Gerenciamento usando Estatísticas</p>
                <h2 class="section-title">Estatísticas detalhadas da sua empresa</h2>
              </div>
              <div class="content">
                <p>
                  Personalização de alto nível, estatísticas detalhadas do site, como o número de prêmios ganhos, número de projetos concluídos, número de anos de excelência. Detalhamentos como o número de filiais, o número de centros de serviço, o número de centros de atendimento e muito mais.
                </p>
                <a href="#" class="btn btn-common mt-3">Leia Mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
        </div>
      </div>
    </div>
</div>